@model AFI_Lab1.Models.Subscriber

<h2>Subscriber</h2>

<p><strong>Subscription number:</strong> @Model.SubscriptionNumber</p>
<p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
<p><strong>Personal number:</strong> @Model.PersonalNumber</p>
<p><strong>Address:</strong> @Model.DeliveryAddress</p>
<p><strong>Postal code:</strong> @Model.PostalCode</p>
<p><strong>City:</strong> @Model.City</p>